www/app.js
www/app.js.map
www/app/*
www/examples/bin
www/tmp/*
www/lib/bootstrap/*
www/lib/codemirror/*
www/lib/js/*

tmp/*
lixSetup/haxe/haxe_libraries
lixSetup/haxe/neko
lixSetup/haxe/versions/**
lixSetup/*.img
hashlink-bin/**
tests/RunTravis.n
npm-debug.log
node_modules
programs/**