www/app.js
www/app.js.map
www/app/*
www/tmp/*
www/lib/bootstrap/*
www/lib/codemirror/*
www/lib/js/*

tmp/*
lixSetup/haxe/haxe_libraries
lixSetup/haxe/neko
lixSetup/haxe/versions/**
lixSetup/*.img
cppia-bin/**
hashlink-bin/**
tests/RunCi.n
tests/bin
npm-debug.log
node_modules
programs/**
