version: '2.2'
services:
  web:
    build: .
    image: try-haxe_web
    ports:
      - "127.0.0.1:623:80"
    volumes:
      - ./www:/var/www/html:ro
      - ./hashlink-bin:/srv/try-haxe/hashlink:ro
      - ./lixSetup:/srv/try-haxe/lixSetup:ro
      - ./programs:/srv/try-haxe/programs
      - ./tmp:/srv/try-haxe/outTemp
      - /var/run/docker.sock:/var/run/docker.sock
    command: sh -c "service apache2 start && tail -f /dev/null"
    cpus: 1.5
    mem_limit: 8gb
    mem_reservation: 4gb
  try_haxe_setup:
    image: try-haxe_lix-setup
    container_name: try-haxe_lix-setup
    build: ./lixSetup
    volumes:
      - ./lixSetup:/srv/lixSetup
  try_haxe_compiler:
    image: try-haxe_compiler
    container_name: try-haxe_compiler
    build: ./compilation
    volumes:
      - ./hashlink-bin:/opt/hashlink:ro
      - ./lixSetup/haxe:/home/haxer/haxe:ro
      - ./tmp:/home/haxer/programs
    command: sh -c "tail -f /dev/null"
    user: haxer
    cpus: 6
    mem_limit: 20gb
    mem_reservation: 8gb
  hl.exe:
    build: ./hashlink-bin
    image: try-haxe_hl.exe
    volumes:
      - ./hashlink-bin:/hashlink-bin
