DirectorySlash Off
Options -Indexes

php_flag display_errors off
php_value error_reporting -1

RewriteEngine on

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} try\.haxe\.org
RewriteRule ^(.*)$ https://try.haxe.org/$1 [R=301,L]


# try.haxe.org
RewriteCond %{HTTP_HOST} try\.haxe\.org
RewriteRule ^$ /index.html [L,QSA]

RewriteCond %{HTTP_HOST} try\.haxe\.org
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /app/index.php?_url=$1&_root= [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ app/index.php?_url=$1 [L,QSA]
